<% @creatures.each do |creature| %>

    <div>
        Name: <%= creature.name %> <br>
        Description: <%=  creature.description %>
    </div>

<% end %>

<%= form_for @creature do |f| %>

    <%= f.text_field :name %>
    <%= f.text_area :description %>
    <%= f.submit "save creature" %>

<% end %>